.ImageUpload{
    display: flex;
    flex-direction: column;
}
.input{
    display: none;
}
span{
    display: inline-block;
    padding: 7px;
    width: 150px;
    margin-top: 5px;
    background-color: #3b312f;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Upload{
    height: 20px;
    display: flex;
    align-items: center;
}